/* STANDARD FOR MOBILE */
* {
  /* transparent link and button selection */
  -webkit-tap-highlight-color: transparent; }

body {
  -webkit-touch-callout: none;
  /* no callouts during tap and hold */
  -webkit-text-size-adjust: none;
  /* no fonts auto inflation */
  -webkit-user-select: none;
  /* no copy and paste, etc. */
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%; }

/* END STANDARD MOBILE */
/* SCSS PARTIALS IMPORT */
/* 
    Created on : 19-gen-2016, 20.10.59
    Author     : Andrea
*/
/* 
    Created on : 19-gen-2016, 19.30.44
    Author     : Andrea
*/
/*PALETTA DEI COLORI*/
/* CUSTOM FONTS */
@font-face {
  font-family: 'Dax';
  src: url("../fonts/DaxBold.ttf") format("truetype"); }
/* END CUSTOM FONTS */
/* 
    Created on : 19-gen-2016, 19.28.41
    Author     : Andrea
*/
.box-annunci {
  height: 200px;
  border: 1px solid #B2DFDB;
  background-color: #FFFFFF;
  border-radius: 5px; }

.homepage-container {
  padding: 10px 5px 10px 5px;
  background-color: #B6B6B6; }

/* 
    Created on : 19-gen-2016, 20.01.44
    Author     : Andrea
*/
.univapp-header-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #00796B;
  color: #FFFFFF; }

.univapp-header-btn {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #00796B;
  transition-duration: 0.5s; }
  .univapp-header-btn.aperto {
    transform: translate(0, 50px);
    transition-duration: 0.5s; }

#content.univapp-container {
  height: 100%;
  position: absolute;
  top: 100px;
  padding-bottom: 100px;
  overflow: auto;
  transition-duration: 0.5s; }
  #content.univapp-container.aperto {
    padding-bottom: 150px;
    transform: translate(0, 50px);
    transition-duration: 0.5s; }

.myhrmenu-box {
  height: 50px;
  width: 50px;
  padding: 12px 14px; }
  .myhrmenu-box.aperto .myhrmenu2 {
    transform: rotate(45deg);
    transition-duration: 0.5s;
    position: relative;
    top: 6px;
    left: 0;
    bottom: 0;
    right: 0; }
  .myhrmenu-box.aperto .myhrmenu3 {
    transform: rotate(-45deg);
    transition-duration: 0.5s; }
  .myhrmenu-box.aperto .myhrmenu1 {
    display: none;
    transition-duration: 0.5s; }

.myhrmenu,
.myhrmenu1,
.myhrmenu2,
.myhrmenu3 {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  transition-duration: 0.5s; }

.myhrmenu-x {
  position: relative;
  top: 0;
  right: 0;
  width: 10px;
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-45deg); }

.myhrmenu-xx {
  bottom: 0;
  right: 0;
  width: 10px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg); }

.myhrmenu-box-back {
  padding: 15px;
  height: 50px;
  width: 50px; }

.univapp-header-button {
  width: 50%;
  height: 47px;
  text-align: center;
  color: #FFFFFF; }

.line-selector {
  position: absolute;
  height: 3px;
  width: 50%;
  background-color: #009688;
  bottom: 0;
  transition-duration: 0.5s; }
  .line-selector.richieste {
    transform: translate(100%);
    transform-origin: left; }

.menu-row {
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #009688;
  transform: translate(0, 50px);
  transition-duration: 5s; }
  .menu-row.aperto {
    position: absolute;
    transform: translate(0, 50px);
    transition-duration: 0.5s;
    display: block; }

/* END SCSS PARTIALS INCLUDE */
/* START STRUCTURE */
#main {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  overflow: hidden; }

.displaynone {
  display: none; }

.invisible {
  visibility: hidden; }

#content {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden; }

.page {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden; }

.scrollable {
  -webkit-overflow-scrolling: touch; }

.not_scrollable {
  -webkit-overflow-scrolling: auto; }

/* END STRUCTURE */
#map {
  height: 100%;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
