<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ivanomalavolta.test" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Test</name>
    <description>
        Description of the app.
    </description>
    <author email="ivanomalavolta@gmail.com" href="http://www.ivanomalavolta.com">
        Ivano Malavolta
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true"/>
</widget>
