/* STANDARD FOR MOBILE */
* {
  /* transparent link and button selection */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  -webkit-touch-callout: none;
  /* no callouts during tap and hold */
  -webkit-text-size-adjust: none;
  /* no fonts auto inflation */
  -webkit-user-select: none;
  /* no copy and paste, etc. */
  background-attachment: fixed;
  font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  width: 100%; }

/* END STANDARD MOBILE */
/* CUSTOM FONTS */
@font-face {
  font-family: 'Dax';
  src: url("../fonts/DaxBold.ttf") format("truetype"); }

/* END CUSTOM FONTS */
/* START STRUCTURE */
#main {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  overflow: hidden; }

.displaynone {
  display: none; }

.invisible {
  visibility: hidden; }

#content {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden; }

.page {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden; }

.scrollable {
  -webkit-overflow-scrolling: touch; }

.not_scrollable {
  -webkit-overflow-scrolling: auto; }

/* END STRUCTURE */
#map {
  height: 100%;
  width: 100%; }
