/* 
    Created on : 19-gen-2016, 20.10.59
    Author     : Andrea
*/
$univapp-header-height : 50px;
$univapp-header-menu-height : 50px;
$univapp-header-btn-height : 50px;
$line-selector-height : 3px;


