<!--<header class="bar bar-nav UnivApp-header">
      <a class="icon icon-left-nav pull-left"></a>
      <a class="pull-right myhrmenu-box">
          <hr class="myhrmenu">
          <hr class="myhrmenu">
          <hr class="myhrmenu"></a>
      <h1 class="title">UnivApp</h1>
</header>

<nav class="bar bar-tab UnivApp-footer">
  <a class="tab-item active" id="nav1">
    Nav1
  </a>
  <a class="tab-item" id="nav2">
    Nav2
  </a>
  <a class="tab-item" id="nav3">
    Home
  </a>
</nav>

 <nav id="navigation">
    <div id="nav1" class="i-4">nav 1</div>
    <div id="nav2" class="i-8">nav 2</div>
</nav> -->
<div>
<div class="univapp-header-nav">
    <div class="pull-left myhrmenu-box-back">
        <hr class="myhrmenu myhrmenu-x">
        <hr class="myhrmenu myhrmenu-xx">
    </div>
    UnivApp
    <div class="pull-right myhrmenu-box" id="mymenu">
        <hr class="myhrmenu1">
        <hr class="myhrmenu2">
        <hr class="myhrmenu3">
    </div>
</div>
    <div class="menu-row" id="menu_row">
        <div class="col-xs-3 text-center">profilo</div>
        <div class="col-xs-3 text-center">gestione</div>
        <div class="col-xs-3 text-center">3</div>
        <div class="col-xs-3 text-center">4</div>
    </div>
    <div class="univapp-header-btn" id="struct_btn">
        <div class="univapp-header-button pull-left" id="btn-offerte">Offerte</div>
        <div class="univapp-header-button pull-right" id="btn-richieste">Richieste</div>
        <div class="line-selector offerte"  id="line_selector"></div>
    </div>    
    <div id="content" class="content univapp-container">
    </div>
</div>